node-red.json
[{
  "id": "a1b2c3d4e5f6g7h8",
  "type": "tab",
  "label": "Mindly Flow",
  "disabled": false,
  "info": ""
},
{
  "id": "mqttIn1",
  "type": "mqtt in",
  "z": "a1b2c3d4e5f6g7h8",
  "name": "telemetry in",
  "topic": "mindly/teamA/device/+/telemetry",
  "qos": "0",
  "datatype": "auto",
  "broker": "mqttBroker",
  "x": 160,
  "y": 80,
  "wires": [["jsonNode","procFunc"]]
},
{
  "id": "jsonNode",
  "type": "json",
  "z": "a1b2c3d4e5f6g7h8",
  "name": "to object",
  "property": "payload",
  "action": "",
  "pretty": false,
  "x": 380,
  "y": 60,
  "wires": [["tsHttp"]]
},
{
  "id": "procFunc",
  "type": "function",
  "z": "a1b2c3d4e5f6g7h8",
  "name": "check noise & build cmd",
  "func": "// msg.payload is an object\nlet data = msg.payload;\nlet device = data.device_id || \"unknown\";\nlet sound = data.sound_level || 0;\n\n// If high noise, create alert command\nif (sound > 70) {\n  let cmd = {\n    device_id: device,\n    cmd: {\n      cmd: \"alert_beep\",\n      reason: \"high_noise\",\n      sound_level: sound\n    }\n  };\n  // send to second output (MQTT out)\n  node.send([null, {topic: `mindly/teamA/device/${device}/cmd`, payload: JSON.stringify(cmd.cmd)}]);\n}\n// continue to ThingSpeak (first output)\nmsg.ts = { device: device, sound: sound };\nreturn [msg, null];",
  "outputs": 2,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "x": 420,
  "y": 140,
  "wires": [["debug1"],["mqttOut1"]]
},
{
  "id": "tsHttp",
  "type": "function",
  "z": "a1b2c3d4e5f6g7h8",
  "name": "build ThingSpeak URL",
  "func": "let d = msg.payload;\nlet sound = d.sound_level || 0;\nlet light = d.light_lux || 0;\nlet presence = d.presence ? 1 : 0;\nlet apikey = \"Y89YBHF63E1E5Z0N\";\nlet channel = \"3175519\";\n\nlet url = `http://api.thingspeak.com/update?api_key=${apikey}&field1=${sound}&field2=${light}&field3=${presence}`;\nmsg.method = \"GET\";\nmsg.url = url;\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 580,
  "y": 60,
  "wires": [["httpRequest1"]]
},
{
  "id": "httpRequest1",
  "type": "http request",
  "z": "a1b2c3d4e5f6g7h8",
  "name": "ThingSpeak update",
  "method": "GET",
  "ret": "txt",
  "paytoqs": "ignore",
  "url": "",
  "tls": "",
  "persist": false,
  "proxy": "",
  "authType": "",
  "x": 780,
  "y": 60,
  "wires": [["debug1"]]
},
{
  "id": "mqttOut1",
  "type": "mqtt out",
  "z": "a1b2c3d4e5f6g7h8",
  "name": "cmd out",
  "topic": "",
  "qos": "",
  "retain": "",
  "broker": "mqttBroker",
  "x": 820,
  "y": 140,
  "wires": []
},
{
  "id": "debug1",
  "type": "debug",
  "z": "a1b2c3d4e5f6g7h8",
  "name": "debug",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "targetType": "full",
  "x": 1020,
  "y": 100,
  "wires": []
},
{
  "id": "httpIn1",
  "type": "http in",
  "z": "a1b2c3d4e5f6g7h8",
  "name": "publish-cmd endpoint",
  "url": "/publish-cmd",
  "method": "post",
  "swaggerDoc": "",
  "x": 160,
  "y": 260,
  "wires": [["jsonIn","publishFunc"]]
},
{
  "id": "jsonIn",
  "type": "json",
  "z": "a1b2c3d4e5f6g7h8",
  "name": "parse JSON",
  "property": "payload",
  "action": "",
  "pretty": false,
  "x": 360,
  "y": 260,
  "wires": [["publishFunc"]]
},
{
  "id": "publishFunc",
  "type": "function",
  "z": "a1b2c3d4e5f6g7h8",
  "name": "format publish msg",
  "func": "let body = msg.payload;\nif (!body.device_id || !body.cmd) {\n  msg.statusCode = 400;\n  msg.payload = { error: \"device_id and cmd required\" };\n  return [null, msg];\n}\nlet topic = `mindly/teamA/device/${body.device_id}/cmd`;\nlet payload = JSON.stringify(body.cmd);\nreturn [{topic: topic, payload: payload}, null];",
  "outputs": 2,
  "noerr": 0,
  "x": 560,
  "y": 260,
  "wires": [["mqttOut1"],["httpResp"]]
},
{
  "id": "httpResp",
  "type": "http response",
  "z": "a1b2c3d4e5f6g7h8",
  "name": "response",
  "statusCode": "",
  "headers": {},
  "x": 820,
  "y": 300,
  "wires": []
},
{
  "id": "mqttBroker",
  "type": "mqtt-broker",
  "name": "Local MQTT",
  "broker": "test.mosquitto.org",
  "port": "1883",
  "clientid": "",
  "usetls": false,
  "compatmode": true,
  "keepalive": "60",
  "cleansession": true,
  "birthTopic": "",
  "birthQos": "0",
  "birthPayload": "",
  "closeTopic": "",
  "closePayload": "",
  "willTopic": "",
  "willQos": "0",
  "willPayload": ""
}]
